/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.contactform {
  margin-top: 5%;
  /* margin-left: 70%; */
}

.aboutcontent {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.aboutheader {
  font-size: 32px;
  font-style: "bold";
  text-align: center;
}

.col-md-4 {
  padding: 1rem;
  background-color: #33b5e5;
  border: 2px solid #fff;
  columns: #000000;;
  text-align: center;
  margin-top: -20px;

  }

  .jumbo {
    background-color: #fff;
  }


  

.servicecontent {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
}

.serviceheader {
  font-size: 32px;
  font-style: "bold";
}

.servicerow {
  margin-left: 250px;
}

.homeheading{
  /* margin-top: 15%; */
  /* margin-bottom: 0; */
  /* margin-left: 10%; */
  /* font-size: 36px; */
  font-weight: bold;
  
  /* font-size: 32px; */
  /* font-style: "bold";
  text-align: center;
  margin-top: 100px; */
  /* @media (min-width: 480px) {
    font-size: 48px;
  }

  @media (min-width: 768px) {
    font-size: 72px;
  } */
}


.homebutton {
  
  /* padding: 8px 12px; */
  /* font-size: 16px; */
  /* font-weight: 700; */
  /* text-decoration: none; */
  /* text-transform: uppercase; */
  /* color:blue; */
  /* background: transparent; */
  /* border: 2px solid; */
  /* cursor: pointer; */
  /* transition: color 0.25s ease-in-out; */
  /* margin-left: 10%; */
  /* margin-top: 50px; */
  text-align: center;
  margin-top: 200px;

}
/* .parent {
  position: relative;
  background-color: rgba(50, 70, 200, 0.3);
  width: 100%;
  height: 200px;
} */
.child {
  height: 100vh;
  background-color: skyblue;
  
}


.home {
  margin-top: 20px;
}

.servicecardone {
  width: 100%;
  height: auto;
  margin-left: 10px;
  margin-right: auto;
 margin-top: 40px;
}

.servicecardtwo {
  width: 100%;
  height: auto;
  margin-left: 800px;
  margin-top: -20px;
}

 /* .cocacolalogo {
  margin-left: 70px;
} */
.cocacolalogo {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.img-fluid {
  height: 200px;
  width: 200px;
  margin-left: 100px  ;
  /* border-radius: 50%; */
}

/*
 .ibmlogo {
  margin-left: 40px;
}

.ibm {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.nokialogo{
  margin-left: 40px;
}

.nokia {
  height: 240px;
  width: 240px;
  border-radius: 50%;
}

.microsoftlogo {
  margin-left: 40px;
}

.microsoft {
  height: 255px;
  width: 255px;
  border-radius: 50%;
}

.unileverlogo {
  margin-top: 30px;
  margin-left: 40px;
}

.unilever {
  height: 255px;
  width: 300px;
  border-radius: 40%;
}



.standardcharteredbanklogo {
  margin-left: 45px;
  margin-top: 20px;
}

.standardcharteredbank {
  height: 255px;
  width: 255px;
  border-radius: 50%;
}

.parmalatlogo {
  margin-left: 35px;
  margin-top: 20px;
}

.parmalat {
  height: 255px;
  width: 255px;
  border-radius: 50%;
} 
.caterpillargrouplogo {
  margin-top: 30px;
  margin-left: 80px;
}

.caterpillargroup {
  height: 255px;
  width: 255px;
  border-radius: 60%;
}

.kenyadatanetworkslogo {
  margin-top: 30px;
  margin-left: 60px;
}

.kenyadatanetworks {
  height: 245px;
  width: 245px;
  border-radius: 50%;
}

.nationmediagrouplogo {
  margin-top: 25px;
  margin-left: 70px;
}

.nationmediagroup {
  height: 255px;
  width: 255px;
  border-radius: 45%;
}

.upflogo {
  margin-top: -240px;
  margin-left: 985px;
}

.upf {
  height: 220px;
  width: 220px;
  border-radius: 35%;
}

.sdalogo {
  margin-top: 30px;
  margin-left: 90px;
}

.sda {
  height: 255px;
  width: 255px;
  border-radius: 50%;
}

.tatalogo {
  margin-left: 30px;
  margin-top: 20px;
}

.tata {
  height: 255px;
  width: 255px;
  border-radius: 20%;
}

.pheonixaviationlogo {
  margin-top: 30px;
  margin-left: 40px;
}

.pheonixaviation {
  height: 260px;
  width: 260px;
  border-radius: 50%;
}

.clientanimation {
  color: rgba(64, 88, 224, 0.904);
  font-size: xx-large;
  font-weight: bolder;
  margin-left: 70px;
  margin-top: 150px;
}

.clientlogo {
    display: flex;
  flex-direction: column;
} */

/* .mb-4 {
  height: 240px;
  width: 240px;
  border-radius: 50%;
} */