body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .active {
  color: red;
} */

.headername {
  /* margin: 10px; */
  /* margin-left: 400px; */
  font-size: large;
  color: black;
  font-style: "bold";
}

.footer {
  background-color: rgb(63, 147, 197);
  margin-top: 20%;
}

.header {
  background-color: rgb(171, 208, 231);
}
